@import url("https://fonts.googleapis.com/css?family=Shrikhand:300,400,500,600,700,800,900,1000&&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900,1000&display=swap");
h1 {
  font-family: Shrikhand, sans-serif;
  padding: 10px 0;
}

h2, h3, h4, h5, p {
  font-family: Roboto, sans-serif;
}

.content {
  max-width: 798px;
  margin: 0 auto;
}

header h1 {
  text-align: center;
}

#geolocation {
  text-align: center;
}
#geolocation p {
  background-color: var(--grey);
  border-top: 2px solid var(--darkgrey);
  width: 100%;
  padding: 10px 0;
}
#geolocation p i {
  padding: 0 10px;
}

#explore {
  background-color: var(--lightgrey);
  text-align: center;
  padding: 20px;
}
#explore h2 {
  padding: 5px 0;
}
#explore p {
  padding: 5px 0;
}
#explore button {
  color: var(--white);
  background: linear-gradient(#FF79DA, #9356DC 45%);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 15px;
  border-radius: 20px;
}

#userguide {
  background-color: var(--white);
  padding: 20px 10px;
}
#userguide h2 {
  padding: 10px 0;
}
#userguide .list {
  counter-reset: li;
  list-style-type: none;
  font-size: 14px;
  line-height: 18px;
}
#userguide .list li {
  position: relative;
  padding: 0px 0px 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#userguide .list li:before {
  content: counter(li);
  counter-increment: li;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: var(--white);
  text-align: center;
  position: absolute;
  background-color: var(--primaire);
  left: 0;
}
#userguide .list li .userguide-step {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 1px 3px 4px var(--darkgrey);
  background-color: var(--grey);
  margin: 10px 0;
  padding: 20px;
  width: 100%;
}
#userguide .list li .userguide-step i {
  padding: 0 20px;
  color: var(--darkgrey);
}
#userguide .list li .active-step {
  background-color: rgba(var(--primaire-rgb), 0.1) !important;
}
#userguide .list li .active-step i {
  color: var(--primaire);
}

#restaurants {
  background-color: var(--grey);
  padding: 20px 10px;
}
#restaurants h2 {
  padding: 10px 0;
}
#restaurants .restaurant {
  border-radius: 15px;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  box-shadow: 1px 3px 4px var(--darkgrey);
  align-self: stretch;
}
#restaurants .restaurant a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: var(--black);
}
#restaurants .restaurant a .restaurant-img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 150px;
  object-fit: cover;
}
#restaurants .restaurant a .restaurant-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}
#restaurants .restaurant a .restaurant-info h3, #restaurants .restaurant a .restaurant-info p {
  margin: 5px;
}
#restaurants .restaurant a .bookmark {
  margin: 10px;
}
#restaurants .restaurant a .bookmark .fa-stack i {
  color: var(--primaire);
}
#restaurants .restaurant a .bookmark .fa-stack .unbookmarked {
  opacity: 0;
}
#restaurants .restaurant a .bookmark .fa-stack .unbookmarked:hover {
  opacity: 1;
  transition: opacity 1s;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
}
footer h2 {
  font-family: Shrikhand, sans-serif;
  margin: 10px 0;
}
footer li {
  list-style-type: none;
  margin: 10px 0;
  padding: 5px;
}
footer li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  text-decoration: none;
}
footer li a i {
  width: 3%;
}

/*# sourceMappingURL=style.css.map */
